.main_container {
    display: flex;
    justify-content: space-evenly;
}

.input_contianer,
.output_contianer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 2px;
    flex-wrap: wrap;

}

.output_section {
    border: 1px solid;
    margin: 0;
    border-radius: 2px;
    height: 466px;
    width: 400px;
    overflow: scroll;
    display: -webkit-inline-box;
}

.output_section p {
    margin: 0;

}

.button_continer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button_continer * {
    margin: 0 20px;
}

.formate_button {
    color: #fff;
    background: green;
    border: 0;
    padding: 3px 7px;
    border-radius: 3px;
}

.input_json {
    resize: none;
    outline: 0;
    border: 1px solid;
}

.clear_button {
    color: #fff;
    background: red;
    border: 0;
    padding: 3px 7px;
    border-radius: 3px;
}

.error {
    color: red;
}

.cur_barket {
    display: inline;
    margin: 0;
}

.string {
    color: green;
}

.number {
    color: red;
}

.boolean {
    color: orange;
}

.squre_start {
    display: inline;
}

.obj_div {
    padding-left: 15px;
}

.obj_cover {
    padding-left: 0;
}

.array {
    display: unset;
}

.obj {
    padding-left: 15px;
    display: table;
}


.item {
    padding-left: 15px;
}

.key {
    display: inline;
}

.close_cur_barket {
    display: inline;

}

.cur_barket_nested {
    display: inline;
}

.hide {
    display: none;
}

/* line number */
.copy {
    border: 1px solid;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: gray;
    right: -350px;
}

.squre_start::before,
.cur_barket::before,
.cur_barket_nested::before {
    content: "^";
}