.main_container {
    display: flex;
    justify-content: space-evenly;
}

.input_contianer,
.output_contianer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 2px;

}

.output_section {
    border: 1px solid;
    margin: 0;
    border-radius: 2px;
    height: 466px;
    width: 400px;
    overflow: scroll;
}

.button_continer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button_continer * {
    margin: 0 20px;
}

.formate_button {
    color: #fff;
    background: green;
    border: 0;
    padding: 3px 7px;
    border-radius: 3px;
}

.input_json {
    resize: none;
    outline: 0;
    border: 1px solid;
}

.clear_button {
    color: #fff;
    background: red;
    border: 0;
    padding: 3px 7px;
    border-radius: 3px;
}

.error {
    color: red;
}