.main_container {
    display: flex;
    justify-content: space-evenly;
}

.input_contianer,
.output_contianer {
    display: flex;
    flex-direction: column;
}

.output_section {
    border: 1px solid;
    margin: 0;
    border-radius: 2px;
    height: 765px;
    width: 400px;
    overflow-y: scroll;
}

.error {
    color: red;
}